<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>GoProgram Inspiration API - AAAPIC</title>
  </head>
  <body>
    <main>
        <h1 style="text-align:center"><strong>GoProgram Inspiration</strong></h1>

        <h2 style="text-align:center"><span style="font-size:16px">The GoProgram Inspiration API is a tool that provides access to a large database of quotes and inspirational messages. These quotes can be used to motivate or inspire individuals, or they can be incorporated into other applications or products to provide a source of motivation and inspiration to users. The API is easy to use and can be integrated into a variety of applications and systems. With hundreds of quotes to choose from, the GoProgram Inspiration API is a valuable resource for anyone looking to add a touch of motivation and inspiration to their work or personal life.</span></h2>

        <p style="text-align:center">&nbsp;</p>

        <h2 style="text-align:center">Try out the GoProgram Inspiration API</h2>

        <h3 style="text-align:center">Your inspirational quote is...</h3>

        <h1 style="text-align:center"><span style="font-size:28px"><strong>{{ inspiriation }}</strong></span></h1>

        <p>&nbsp;</p>

        <div class="objectcenter">
          <a href="/">
            <button type="button" name="viewAPIs">View More APIs</button>
          </a>
        </div>
        <div class="footer">
          <h2 style="text-align:center">AAPIC - Divine Ejiogu</h2>
          <h3 style="text-align:center">This is a project by Divine Ejiogu. All rights reserved</h3>
        </div>
    </main>
  </body>
</html>
